{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<div class="container-fluid tm-content-container">
    <ul class="cd-hero-slider mb-0 py-5">
        <li class="px-3" data-page-no="1">
            <div class="page-width-1 page-left">
                <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
                    <div class="intro-left tm-bg-dark">
                        <h2 class="mb-4">Welcome to Malicious URL Prediction Software</h2>
                        <p class="mb-4">
                            Malicious URL prediction using machine learning involves classifying URLs into four
                            categories: malicious, benign, phishing, and defacement. </p>
                        <p class="mb-0">
                            Malicious URLs distribute malware or exploit vulnerabilities, while phishing URLs trick
                            users into revealing sensitive information. Defacement URLs alter website appearances, often
                            for political or hacktivist reasons, and benign URLs are safe and legitimate. </p>
                        <a href="{% url "log_in" %}" data-page-no="2"
                            class="btn btn-primary tm-intro-btn tm-page-link">
                            Let's Go
                        </a>
                    </div>
                    <div class="circle intro-circle-1"></div>
                    <div class="circle intro-circle-2"></div>
                    <div class="circle intro-circle-3"></div>
                    <div class="circle intro-circle-4"></div>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock body %}